.app {
  position relative
  display flex
  flex-direction column
  width 100vw
  height 100vh
  overflow hidden
  // user-select none

  > main {
    position relative
    flex-grow 1
    display flex
  }
}

* {
  box-sizing border-box
}

body, input, button {
  font 12px Consolas, "Microsoft YaHei", monospace, sans-serif
}

body img.ruler {
  z-index -1
  max-width 300px
  position fixed
  top 0
  left 0
}
