.app {
  display flex
  flex-direction column
  width 100vw
  height 100vh
  overflow hidden
  user-select none
}

* {
  box-sizing border-box
}

body, input, button {
  font 12px "Microsoft YaHei", "微软雅黑", sans-serif
}

body img.ruler {
  z-index -1
  max-width 300px
  position fixed
  top 0
  left 0
}