.inspector {
  position absolute
  top 0
  right 0
  bottom 0
  width 440px
  background rgba(221, 221, 221, 0.7)
  overflow-y auto

  .tab-chooser {
    display flex
    background #282c34
    .tab-chooser-item {
      background inherit
      border none
      cursor pointer
      color rgba(231, 231, 231, 0.5)
      font-size 12px
      height 32px
      line-height 24px
      padding 4px 16px
      text-transform uppercase
      outline none
      &:hover, &:active, &.active {
        color #e7e7e7
      }
      &.active {
        border-bottom 2px solid white
      }
    }
  }

  .styles-tab {
    .preset-list-wrapper > p {
      margin 0
      font-size 16px
      line-height 40px
      padding-left 8px
    }

    .preset-list-wrapper .manage {
      margin-left 16px
    }

    .preset-list {
      list-style none
      margin 0

      .preset {
        display flex
        align-items center
        font-size 16px
        line-height 20px
        .name {
          margin 0
          line-height 32px
          padding-left 8px
          width 150px
          font-family Consolas, Monospaced, monospace
        }
      }

      .preview {
        width 24px
        height 24px
      }
    }
  }

  .row {
    display flex
    margin 10px
    overflow-x hidden

    > h2 {
      width 130px
    }

    .field {
      display flex
      flex-flow column

      input {
        height 30px
      }

      input[type=color] {
        width 70px
      }
    }

    .btn {
      align-self center
      width 70px
      height 30px
    }
  }
}
