.inspector {
  width 440px
  background #e7e7e7
  overflow-y auto

  .tab-chooser {
    display flex
    background #282c34
    .tab-chooser-item {
      background inherit
      border none
      cursor pointer
      color rgba(231, 231, 231, 0.5)
      font-size 12px
      height 32px
      line-height 24px
      padding 4px 16px
      text-transform uppercase
      outline none
      &:hover, &:active, &.active {
        color #e7e7e7
      }
      &.active {
        border-bottom 2px solid white
      }
    }
  }

  .empty-prompt {
    font-size 20px
    text-align center
  }

  .semantic-tab {
    .tag-list-wrapper {
      > p {
        margin 0
        font-size 16px
        line-height 40px
        padding-left 8px
      }
      .manage {
        margin-left 8px
      }
    }

    .tag-list {
      list-style none
      margin 0

      .tag {
        display flex
        align-items center
        font-size 16px
        .preview {
          width 20px
          height @width
        }
        .name {
          margin 0
          line-height 32px
          padding-left 12px
          width 150px
        }
      }
    }

    .label-wrapper {
      margin-top 8px
      > p {
        margin 0
        font-size 16px
        line-height 40px
        padding-left 8px
        input {
          margin-left 8px
          font-size 16px
        }
      }
    }
  }

  .row {
    display flex
    margin 10px
    overflow-x hidden

    > h2 {
      width 130px
    }

    .field {
      display flex
      flex-flow column

      input {
        height 30px
      }

      input[type=color] {
        width 70px
      }
    }

    .btn {
      align-self center
      width 70px
      height 30px
      &.z {
        width auto
        height auto
      }
    }
  }

  .history-tab {
    .button-group {
      margin 20px
      > button {
        margin-right 16px
      }
    }
    .action-item {
      height 20px
      line-height 20px
    }
  }
}
